{% extends 'base.html.twig' %}

{% block title %}Grade{% endblock %}

{% block body %}

<h2 class="color_white mt-5"> Classement : <i class="{{ grade.getPhoto() }}"></i> {{ grade.getNomGrade() }}</h2>

{% if users is empty %}
<div class="alert alert-danger mt-4" role="alert">
    Aucun joueur est au grade <i class="{{ grade.getPhoto() }}"></i> {{ grade.getNomGrade() }}.
</div>
{% else %}
<div class="container mt-4">
    <div class="table-responsive-md">
        <table class="table table-dark">
            <thead>
                <tr>
                    <th scope="col">Nom d'utilisateur</th>
                    <th scope="col">Point / {{ grade.getPointMax }}</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                {% if app.user.id == user.getId() %}
                <tr class="bg-primary">
                    <td>{{ user.getUsername() }}</td>
                    <td>{{ user.getXp() }}</td>
                </tr>
                {% else %}
                <tr>
                    <td>{{ user.getUsername() }}</td>
                    <td>{{ user.getXp() }}</td>
                </tr>
                {% endif %}                
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endif %}

{% endblock %}