{% extends 'base.html.twig' %}

{% block title %}Maps{% endblock %}                                            

{% block body %}
<div class="border-top border-primary mt-2 mx-auto"></div>  
<div class="color_white mt-2">
  <h5>Positions Validées : <span class="badge badge-success">{{ nbPositionsF }}</span> <a class="btn btn-success btn-sm fas fa-align-justify" href="/maps/listePositionF/{{ app.user.id }}&{{ user_lat }}&{{ user_lng }}"></a></h5>
  <h5>Positions toujours pas validées : <span class="badge badge-danger">{{ nbPositionsNF }}</span> <a class="btn btn-danger btn-sm fas fa-align-justify" href="/maps/listePositionNF/{{ app.user.id }}&{{ user_lat }}&{{ user_lng }}"></a></h5>
</div>
<div class="border-top border-primary mt-2 mx-auto"></div>                             
<div id="map" class="mt-2"></div>
<div class="mt-3">
  <div class="row">
    {% for positionNF in positionsNF %}
    <span class="col-xs-5 col-sm-3 col-md-2 mb-2 mx-auto bg-dark border border-primary rounded color_white">
      
      <div class="mt-2 mb-2">
        <h5 class="text-center">{{ positionNF.id }} - <a href="/maps/mapsI/{{ positionNF.id }}&{{ app.user.id }}&{{ user_lat }}&{{ user_lng }}"><span class="mr-2 badge badge-danger">Non Validé</span></a></h5>
      </div>
      
    </span>
    {% endfor %}
    {% for positionF in positionsF %}
    <span class="col-xs-9 col-sm-4 col-md-2 mb-2 mx-auto bg-dark border border-primary rounded color_white">
      
      <div class="mt-2 mb-2">
        <h5 class="text-center">{{ positionF.id }} - <a href="/maps/mapsI/{{ positionF.id }}&{{ app.user.id }}&{{ user_lat }}&{{ user_lng }}"><span class="badge badge-success">Validé !</span></a></h5> 
      </div>      
      
    </span>
    {% endfor %}
  </div>
</div>
{% endblock %}
{% block javascripts %}
<script>
  
  function initMap() {
    
    map = new google.maps.Map(document.getElementById('map'), {
      zoom: 6,
    });
    infoWindow = new google.maps.InfoWindow;
    
    pointF = {
      path: 'M0-48c-9.8 0-17.7 7.8-17.7 17.4 0 15.5 17.7 30.6 17.7 30.6s17.7-15.4 17.7-30.6c0-9.6-7.9-17.4-17.7-17.4z',
      fillColor: '#28a745',
      fillOpacity: 1,
      scale: 1,
      strokeColor: '',
      strokeWeight: 0
    };
    
    pointNF = {
      path: 'M0-48c-9.8 0-17.7 7.8-17.7 17.4 0 15.5 17.7 30.6 17.7 30.6s17.7-15.4 17.7-30.6c0-9.6-7.9-17.4-17.7-17.4z',
      fillColor: '#dc3545',
      fillOpacity: 1,
      scale: 1,
      strokeColor: '',
      strokeWeight: 0
    };
    
    {% for positionF in positionsF %}
    markerF = new google.maps.Marker({
      map: map,
      icon : pointF,
      position: new google.maps.LatLng({{ positionF.latitude }},{{ positionF.longitude }}),
      animation: google.maps.Animation.DROP
    });
    {% endfor %} 
    
    {% for positionNF in positionsNF %}
    markerNF = new google.maps.Marker({
      map: map,
      icon : pointNF,
      position: new google.maps.LatLng({{ positionNF.latitude }},{{ positionNF.longitude }}),
      animation: google.maps.Animation.DROP
    });
    {% endfor %} 
    
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(function(position) {
        var pos = {
          lat: position.coords.latitude,
          lng: position.coords.longitude
        };
        var infowindow = new google.maps.InfoWindow({
          content: '<div class="container">'+
            'Vous êtes ici !'+
            '</div>'
          });
          marker = new google.maps.Marker({
            position: pos,
            map: map,
            icon: {
              path: 'M0-48c-9.8 0-17.7 7.8-17.7 17.4 0 15.5 17.7 30.6 17.7 30.6s17.7-15.4 17.7-30.6c0-9.6-7.9-17.4-17.7-17.4z',
              fillColor: '#007bff',
              fillOpacity: 1,
              scale: 1,
              strokeColor: '',
              strokeWeight: 0
            },
            animation: google.maps.Animation.DROP
          });
          marker.addListener('click', function() {
            infowindow.open(map, marker);
          });
          
          infoWindow.open(map);
          map.setCenter(pos);
        }, function() {
          handleLocationError(true, infoWindow, map.getCenter());
        });
      } else {
        // Browser doesn't support Geolocation
        handleLocationError(false, infoWindow, map.getCenter());
      }
    }
    
    function handleLocationError(browserHasGeolocation, infoWindow, pos) {
      infoWindow.setPosition(pos);
      infoWindow.setContent(browserHasGeolocation ?
      'Error: The Geolocation service failed.' :
      'Error: Your browser doesn\'t support geolocation.');
      infoWindow.open(map);
    }
    
    function toggleBounce() {
      if (marker.getAnimation() !== null) {
        marker.setAnimation(null);
      } else {
        marker.setAnimation(google.maps.Animation.BOUNCE);
      }
    }
    
  </script>
  
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBGqu93anG2RuN7R9imKXX9f7OwDsNewh0&libraries=geometry&callback=distance&callback=initMap"></script>
  <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
  </script>
{% endblock %}
