{% extends 'base.html.twig' %}

{% block title %}Question{% endblock %}                                            

{% block body %}
{% for flash_message in app.session.flashBag.get('success') %}
<div class="alert alert-success mb-2 mt-2 ">
    {{ flash_message }}
</div>
{% endfor %}
{% for flash_message in app.session.flashBag.get('danger') %}
<div class="alert alert-danger mb-2 mt-2">
    {{ flash_message }}
</div>
{% endfor %}
{% if positionF is empty %}
<div class="row mx-auto mb-2 mt-2 bg-dark border border-danger rounded ">
    <a onclick="history.go(-1)" class="btn btn-warning mt-2 ml-2 mb-2 "><i class="fas fa-arrow-left"></i> Retour</a>
    <h4 class="mx-auto mt-2 mb-2 color_white">Point n° : {{ position.id }}</h4>
    <h4 class="mx-auto mt-2 mb-2 color_white">Nombre d'essai : {{ nbEssai }}</h4>
</div>
{% else %}
<div class="row mx-auto mb-2 mt-2 bg-dark border border-success rounded ">
    <a onclick="history.go(-1)" class="btn btn-warning mt-2 mb-2 ml-2"><i class="fas fa-arrow-left"></i> Retour</a>
    <h4 class="mx-auto mt-2 mb-2 color_white">Point n° : {{ position.id }}</h4>
    <h4 class="mx-auto mt-2 mb-2 color_white">Nombre d'essai : {{ nbEssai }}</h4>
</div>
{% endif %}
<div class="border-top border-primary mt-3 mb-3 mx-auto"></div>
<div class="card text-center bg-dark color_white">
    <div class="card-header">
        <h4>Question : {{ question.getLibelleQuestion }}</h4>
    </div>
    <div class="row card-body">
        {% for reponse in reponses %}
        {% if positionF is not empty %}
        {% if reponse.getReponseBonne == true %}
        <div class="col-xs-9 col-sm-6 col-md-5 ml-2 mb-3 mt-2 mx-auto">
            <a href="#" class="btn btn-success btn-lg">{{ reponse.getLibelleReponse() }}</a>                
        </div>
        {% else  %}
        <div class="col-xs-9 col-sm-6 col-md-5 ml-2 mb-3 mt-2 mx-auto">
            <a href="#" class="btn btn-danger btn-lg">{{ reponse.getLibelleReponse() }}</a>                
        </div>
        {% endif %}
        {% else %}
        <div class="col-xs-9 col-sm-6 col-md-5 ml-2 mb-3 mt-2 mx-auto">
            <a href="/maps/mapsI/repondre/{{ question.getId }}&{{ position.id }}&{{ app.user.id }}&{{ reponse.getId }}&{{ user_lat }}&{{ user_lng }}" class="btn btn-primary btn-lg">{{ reponse.getLibelleReponse() }}</a>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</form>
</div>
</span>
</div>

{% endblock %}